$border-radius: 3px;
$ground_position: 67%;

html,
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.frame {
    width: 400px;
    height: 400px;
    border-radius: $border-radius;
    background-color: #4E4E4E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background: linear-gradient(to bottom,#A5D8E3 0% $ground_position,#EDDE8B $ground_position 100%)
}