$border-radius: 3px;

@mixin dot($w){
    width: $w;
    height: $w;
    border-radius: $w/2;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
}

html,
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.frame {
    width: 400px;
    height: 400px;
    border-radius: $border-radius;
    background-color: #ECC4D6;
    position: relative;
}

.dot_one{
    @include dot(90px);
    box-shadow: 5px 5px 15px 1px rgba(59, 59, 59, 0.65);
    animation: dot_one_animation 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
}

.dot_two{
    @include dot(60px);
    box-shadow: 5px 5px 10px 1px rgba(59, 59, 59, 0.4);
    animation: dot_two_animation 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;

}

.dot_three{
    @include dot(30px);
    box-shadow: 5px 5px 7px 1px rgba(59, 59, 59, 0.3);
    animation: dot_three_animation 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;

}

@keyframes dot_one_animation{
    0%{
        transform: translate(-50%,-50%) scale(0);
    }
    70%,100%{
        transform: translate(-50%,-50%) scale(1);
    }
}
@keyframes dot_two_animation{
    0%,30%{
        transform: translate(-50%,-50%) scale(0);
    }
    80%,100%{
        transform: translate(-50%,-50%) scale(1);
    }
}

@keyframes dot_three_animation{
    0%,60%{
        transform: translate(-50%,-50%) scale(0);
    }
    90%,100%{
        transform: translate(-50%,-50%) scale(1);
    }
}